# Ignore virtual environments
venv/
.venv/
env/

# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore Streamlit config and temporary files
.streamlit/

# Ignore editor configs
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db

# Ignore config.json
config.json
